# build files
**/build*
src/build
src/debug
src/dist
src/nbproject/*
!src/nbproject/project.xml
!src/nbproject/configurations.xml

# hardware 
hw/__Previews
hw/History
hw/debug.log

# editor files
**/*.pro.user
**/*.swp

# OS stuff
**/Thumbs.db

# other
lib/qcustomplot-win

# doc
doc/tikz
